body > #root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    background-image: linear-gradient(109.6deg, rgb(155, 149, 255) 11.2%, rgb(234, 107, 149) 62.7%, rgb(255, 172, 82) 100.2%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

